<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{ path('index') }}"><h4>Listiq</h4></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            {% include 'parts/lang-dropdown.html.twig' %}
            {% if app.user %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item btn btn-block" href="{{ path('app_logout') }}">{{ "header.logout"|trans }}</a>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>