{% extends 'v1/base.html.twig' %}

{% block title %}{{ 'list.your_lists'|trans }}{% endblock %}

{% block body %}
    {% include 'v1/common/_search_form.html.twig' %}
    {% if task_lists %}
        <div class="tls" id="tls">
            {% include 'v1/parts/private/list/list.html.twig' with {
                'task_lists': task_lists,
                'archive_item_forms': archive_item_forms,
                'load_more_link': load_more_link
            } %}
        </div>
    {% else %}
        {% include 'v1/common/no-result.html.twig' only %}
    {% endif %}
{% endblock %}