###> symfony/framework-bundle ###
/.env.local
/.env.local
/.env.*.local
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea/

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
