<a class="btn btn-outline-primary float-left" href="{{ path('task_list_toggle_favourites', {'id': task_list.id}) }}">
    {{ task_list.isInFavourites(app.user) ? 'list.remove_from_favourites'|trans : 'list.add_to_favourites'|trans }}
</a>