{% extends 'v1/base.html.twig' %}

{% block title %}{{ 'search.page'|trans }}{% endblock %}

{% block content %}
    {% include 'v1/common/_search_form.html.twig' %}
    <h3>{{ 'search.result'|trans }} "{{ search_phrase }}"</h3>
    {% if task_lists %}
        <div class="tls" id="tls">
            {% include 'v1/parts/private/list/search-result.html.twig' %}
        </div>
    {% endif %}
{% endblock %}