{% extends 'v1/base.html.twig' %}

{% block title %}{{ 'list.your_lists'|trans }}{% endblock %}

{% block content %}
    <div class="big-calendar">
        {% include 'v1/parts/private/calendar/calendar.html.twig' %}
    </div>
{% endblock %}
