.tls {
  .tl {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    .link {
      display: flex;
      color: theme-color("link");
      font-size: 20px;
      font-weight: 700;
    }
    .form-group {
      margin-bottom: 0;
    }
    button {
      font-weight: 500;
      padding: 12px 24px;
      border-radius: 12px;
      font-size: 18px;
      border: 1px solid theme-color("primary");
      margin-left: 30px;
    }
  }
}
.sf {
  position: relative;
  input {
    border-radius: 12px;
    background-color: #fff;
    padding: 12px 24px 12px 42px;
    border: none;
    margin-bottom: 30px;
    width: 600px;
    max-width: 100%;
    &:focus{
      outline: none;
    }
  }
  &:before {
    font-family: "Iconly-Broken";
    content: "\e94d";
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    color: theme-color("link");
  }
}
.ti {
  &.completed {
    opacity: 0.5;
  }
}
#li-modal {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.64);
  z-index: 1000;
  display: none;
  &.active {
    display: block;
  }
  .w {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    min-height: 200px;
    z-index: 1010;
    background-color: #fff;
    display: block;
    padding: 20px;
  }
}