{% extends 'v1/public/base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <h1 class="text-center">Welcome to {{ _site_name }}!</h1>
    <h3>This is lightweight app for creating, sharing and managing simple lists</h3>
    Perfect for:
    <ul>
        <li>Wishlist</li>
        <li>To-do list</li>
        <li>Shopping list</li>
        <li>Simple task manager</li>
    </ul>

    Upcoming features:
    <ul>
        <li>Commenting, attaching images</li>
        <li>Telegram integration</li>
        <li>Google calendar integration</li>
        <li>Simple task manager</li>
    </ul>

    Now {{ _site_name }} is being developed and absolutely free. When Most of planned features are done,
    there will to be two versions: free with some ads and paid with extended functionality. All registered users will
    remain with full functionality within bonus time after paid version is released.
{% endblock %}