{% extends 'v1/public/base.html.twig' %}

{% block body_class %}homepage{% endblock %}

{% block content %}
    <h1 class="welcome-header">Welcome to <span>{{ _site_name }}!</span></h1>
    <div class="welcome-info">
        This is a lightweight app for creating,<br>sharing and managing simple lists.
    </div>
    <a class="btn btn-primary sign-in" href="{{ path('app_login') }}">{{ 'security.sign_in'|trans }}</a>
{% endblock %}
