{% extends 'base.html.twig' %}

{% block title %}{{ 'list.your_lists'|trans }}{% endblock %}

{% block body %}
    {% if task_lists %}
        <div class="tls" id="tls">
            {% include 'parts/private/list/shared-list.html.twig' with {
                'task_lists': task_lists,
                'unsubscribe_forms': unsubscribe_forms
            } %}
        </div>
    {% else %}
        {% include 'common/no-result.html.twig' only %}
    {% endif %}
{% endblock %}