<div class="tl">
    <a href="{{ path('task_list_view', {'id': task_list.id}) }}" class="link mr-auto">
        {{ task_list.name }}
        {% if task_list.shared|length > 0 %}
            (shared)
        {% endif %}
    </a>
    {{ form(archive_item_forms[task_list.id]) }}
    {% include 'common/_delete_form.html.twig' with {'item': task_list, 'path': 'task_list_delete'} %}
</div>