<div class="{% block tl_class %}tl{% endblock %}">
    <a href="{{ path('task_list_view', {'id': task_list.id}) }}" class="link mr-auto">
        {{ task_list.name }}
    </a>
    {% block tl_shared %}
        {% if task_list.shared|length > 0 %}
            <span class="iconly-brokenUser label shared"></span>
        {% endif %}
    {% endblock %}
    {% block tl_favourite %}
        {% if task_list.isInFavourites(app.user) %}
            <span class="iconly-brokenHeart label favourite"></span>
        {% endif %}
    {% endblock %}
    {% block tl_archive %}
        {{ form(archive_item_forms[task_list.id]) }}
    {% endblock %}
    {% block tl_remove %}
        {% include 'v1/common/_delete_form.html.twig' with {'item': task_list, 'path': 'task_list_delete'} %}
    {% endblock %}
    {% block tl_custom %}
    {% endblock %}
</div>
