{% extends 'v1/user/options_template.html.twig' %}

{% block title %}{{ 'menu.settings'|trans }}{% endblock %}

{% block page_title %}{{ 'menu.settings'|trans }}{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="row">
        <div class="col-sm-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}