<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('common') }}
        {% endblock %}
    </head>
    <body>
    {% include 'parts/public/header.html.twig' %}
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    {% include 'parts/footer.html.twig' %}
    {% block javascripts %}
        {{ encore_entry_script_tags('common') }}
    {% endblock %}
    </body>
</html>
