{% extends 'public/base.html.twig' %}

{% block title %}{{ 'security.pw_restoration'|trans }}{% endblock %}

{% block body %}
    <h2>{{ 'security.pw_restoration'|trans }}</h2>
    {{ form(form) }}
{% endblock %}