<footer class="bd-footer">
    <div class="container-fluid">
        <hr>
        <p>All rights reserved</p>
        <p>Idea and coding by Andrew Melnik</p>
        <p>Design and illustrations by Marina Melnik 2021</p>
        <p><a href="#">About us</a></p>
    </div>
</footer>