<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{ app.request.locale }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% for lang in _locales|split('|') %}
            {% if lang != app.request.locale %}
                <li><a class="dropdown-item btn btn-block" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': lang})) }}">
                    {{ lang }}
                </a></li>
            {% endif %}
        {% endfor %}
    </ul>
</li>