{% extends 'user/options_template.html.twig' %}

{% block title %}{{ 'menu.settings'|trans }}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col-sm-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}